{% extends "base.html" %}

{% block content %}
<img src="https://lh3.googleusercontent.com/pw/AM-JKLVdesCHVElIsdsAsYoSIW9RVwCi_AqQdWk7Bp62iVS5Dyz-K_y8PRsn1K-Nw_FcaeO9AbYtnJiLlY7FSoCLYWekZMVg1KcNQcbVLx1qdDTPXdnLUhd_Qv6WnHMlJYI_l--M3zt2O1PL9FhHiD_d8A=w1920-h463-no"
     alt="Trees pic" width="1920" height="463">
<h3 class="title" style=" color: #c993dc;">ABOUT OUR MISSION</h3>
<hr style="width:50%;text-align:center;margin-left:25%; background-color: #c993dc">

<h1 class="subtitle" style="text-align: left; float: left; position: relative; color: #c993dc;">
    What we stand for:
</h1>
<img src="https://lh3.googleusercontent.com/pw/AM-JKLVIYG4j-mUKQnJh6LeMCyT4bzIn1FpBMZT8_2rhvh4MvcXXSO43e7ncRPHdPVY1fw5CChVtBZPNRhH6-2Jbr-L41g2Lfl3E7XjZjt1UA4Jo1xOhQ7tTxPfYrymsZccVpezLYxcUTivgNISrO4b1-w=w957-h492-no"
     width="300" height="170" style="position: relative; float: right; margin-right: auto">
<br>
<p style="text-align: left; margin-right: 300px; float: left; position:absolute;">
    Our main goal is to combat the UN Goal 15: Life on land. We represent those who live on our
    land but don't have their own voice and therefore cannot do anything to help themselves. Our
    website primarily focuses on protecting, restoring, and managing forests to stop animals suffering
    from the loss of their homes. Our fight against deforestation cannot be done without you, so we need
    your help. Please support us by donating today! The foundation for our life on this planet depends
    on a flourishing life on land.
</p>
<br>
<br>
<br>
<br>
<br>
<br>

<h2 class="subtitle" style="text-align: right; float: right; color: #c993dc; position: relative">
    How you can help
</h2>
<br>
<div class="container">
    <img src="https://lh3.googleusercontent.com/pw/AM-JKLXNfmvYlXq3Ggkb5J6n3NK_fR0wRL5kRsKfMyg2FcuAcVrCRV7dioSH4Qod3Mfw0Kow1HmIvuj1_GWXx7YDQyXosr1yq2KzsD01bSurkwPQ3ihZXaz0mpIHXwD6IeNOSjxTXyORq_ii3dkGqyMHKA=w957-h492-no"
         alt="volunteers" width="300" style="position: relative;float: left;vertical-align: baseline;">
    <p style="text-align: right; margin-left: 300px; float: right; position: absolute;">
        You can help Wish Trees achieve its goals by donating money through playing games and buying our
        merchandise. We are partners with multiple charities, who have joined with us to raise awareness
        and share their stories, to encourage you to make a change! Donating, however, is not the only
        way you can make a difference. Do your bit for your community by reducing the amount of paper you
        use by avoiding printing and using electronic correspondence instead, start composting or rally
        your friends and help to clean up local forests and parks.The earth needs your help!
    </p>
</div>
{% endblock %}