<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CSC2033</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css"/>
</head>

<body>

    <style>

    .table {
      margin-left: auto;
      margin-right: auto;
    }

    .footer {
            position: relative;
            left: 0;
            bottom: 0;
            width: 100%;
            background-color: #000732;
            color: #c993dc;
            text-align: left;
        }

    body {
        font-family: "Times New Roman", Times, serif;
    }
    </style>

    <section class="hero is-primary is-fullheight">


        <div class="hero-head">
            <nav class="navbar">
                <div class="container">

                    <div id="navbarMenuHeroA" class="navbar-menu">
                       <div class="navbar-end">
                           <a href="{{ url_for('home') }}" class="navbar-item">
                               Home
                           </a>
                           <a href="{{ url_for('login')}}" class="navbar-item">
                               Login
                           </a>
                           <a href="{{ url_for('profile')}}" class="navbar-item">
                                Profile
                           </a>
                           <a href="{{ url_for('donate')}}" class="navbar-item">
                               DONATE
                           </a>
                           <a href="{{ url_for('admin')}}" class="navbar-item">
                               Admin
                           </a>
                           <a href="{{ url_for('shop')}}" class="navbar-item">
                               Shop
                           </a>
                           <a href="{{ url_for('charities')}}" class="navbar-item">
                                Charities
                           </a>
                           <a href="{{ url_for('games')}}" class="navbar-item">
                                Games
                           </a>
                           <a href={{url_for('about')}} class="navbar-item">
                               About
                           </a>
                       </div>
                    </div>
                </div>
            </nav>
        </div>

        <div class="hero-body">
            <div class="container has-text-centered">
               {% block content %}
               {% endblock %}
            </div>
        </div>
    </section>

    <div class="footer">
        <h1>Contact Us</h1>
        <p>WishTrees.Contact@gmail.com</p>
        <div >
            <img src="SocialMediaIcons\TwitterIcons.png" alt="twitter_icon" width="100">
        </div>
    </div>
</body>

</html>