{% extends "base.html" %}

{% block content %}
    <style>
        .box{
            background-color: #c993dc;
            width: 100%;
        }
        .column {
            position: relative;
            float: left;
            width: 20%;
            padding: 5px;
        }

        .row::after {
            content: "";
            clear: both;
            display: table;
        }
    </style>
    <h1 class="title" style="color: #c993dc">Our Charities</h1>
    <hr style="width:50%;text-align:center;margin-left:25%; background-color: #c993dc">
    <div class="box">
        <div class="row">
            <div class="column">
                <img src="https://lh3.googleusercontent.com/pw/AM-JKLWmIha_jHta6quYmY6OYxepEgYhAuoGb2pAL9ZOX6WcXP1sqIbIbPGMUI9SswySZsKEWvY9uIvlqwP8cXv2v1JXnzNSdPNef-PKxSJt4khDmyi4vRR2DpqNpeNwX4qPj8HyJtGCCfRL7j9BLZ2CeA=w200-h300-no" alt="mushroom_ad">
            </div>
            <div class="column">
                <img src="https://lh3.googleusercontent.com/pw/AM-JKLW06QsLA3Fjor8GZSFgLV4VpBa8c6iPHgLfY_mTcNMObz-zO38jooA9PXcPvRIoDOyxzvAHL0nupR5JLsb6zWa0RmG0qoVo3UgoauHEgGf8saF2Q5O00F2CiKQPSHspFXMqVOTXN-eSgkotfB-nQg=w677-h902-no" alt="wishtreeslogo">
            </div>
            <div class="column">
                <img src="https://lh3.googleusercontent.com/pw/AM-JKLWEdTc8alhDpleJnd7160WxRxLZBDlduOILR47fntpKq5KJ9t5Xx8d8SoOvMOAA4LVtrBOegurFLVAq9rDHVJ3gdNxLexhPCC9a1iHfp1hX5TCzkrviI7rQ8GqPOoxZcISMbf6GAFnPwufl6SjMLQ=w677-h902-no" alt="treesruslogo">
            </div>
            <div class="column">
                <img src="https://lh3.googleusercontent.com/pw/AM-JKLV8kUOmG8C_ngoJpn1VGLgiqI_60oV7P1kA3Ld2Y8GfT7rVn2xlRr-RcBHDaVaf1fQKrtUx3RFzF-5R-eKUCqP2iLd2HfSHynlaHDCaKip3yJW2Wpbv1ApMAWazGfhLYf2BihJdg4x0RTPbWfs-HA=w677-h902-no" alt="powerplanterslogo">
            </div>
            <div class="column">
                <img src="https://lh3.googleusercontent.com/pw/AM-JKLVnjtcNoEaLeXK5B0WrPEMFFZuyT9Hct3GutTugXHEYRWzjkP2pgjKqG1aO5c267zfTLtpMbHLXPzsaYCrzRUP-gRN1OJGw737FlLhOyPZ_VXlL_j1hUvAxDYZywXUD_9oIW-g3O8W6lSSkE6vZSw=w200-h300-no" alt="gift_ad">
            </div>
        </div>
    </div>
    <h2 class="title" style="color: #c993dc">Our Projects</h2>
    <hr style="width:50%;text-align:center;margin-left:25%; background-color: #c993dc">
    <div class="box">

    </div>
    <h3 class="title" style="color: #c993dc">Charity Updates</h3>
    <hr style="width:50%;text-align:center;margin-left:25%; background-color: #c993dc">
    <div class="box">

    </div>
{% endblock %}