{% extends "base.html" %}

{% block content %}
    <style>
        .box{
            background-color: #c993dc;
            width: 100%;
        }
        .box2{
            width: 100%;
        }
        .column {
            position: relative;
            float: left;
            width: 20%;
            padding: 5px;
        }

        .row::after {
            content: "";
            clear: both;
            display: table;
        }
    </style>
    <h1 class="title" style="color: #c993dc">Our Charities</h1>
    <hr style="width:50%;text-align:center;margin-left:25%; background-color: #c993dc">
    <div class="box">
        <div class="row">
            <div class="column">
                <img src="https://lh3.googleusercontent.com/pw/AM-JKLWmIha_jHta6quYmY6OYxepEgYhAuoGb2pAL9ZOX6WcXP1sqIbIbPGMUI9SswySZsKEWvY9uIvlqwP8cXv2v1JXnzNSdPNef-PKxSJt4khDmyi4vRR2DpqNpeNwX4qPj8HyJtGCCfRL7j9BLZ2CeA=w200-h300-no" alt="mushroom_ad">
            </div>
            <div class="column">
                <img src="https://lh3.googleusercontent.com/pw/AM-JKLW06QsLA3Fjor8GZSFgLV4VpBa8c6iPHgLfY_mTcNMObz-zO38jooA9PXcPvRIoDOyxzvAHL0nupR5JLsb6zWa0RmG0qoVo3UgoauHEgGf8saF2Q5O00F2CiKQPSHspFXMqVOTXN-eSgkotfB-nQg=w677-h902-no" alt="wishtreeslogo">
            </div>
            <div class="column">
                <img src="https://lh3.googleusercontent.com/pw/AM-JKLWEdTc8alhDpleJnd7160WxRxLZBDlduOILR47fntpKq5KJ9t5Xx8d8SoOvMOAA4LVtrBOegurFLVAq9rDHVJ3gdNxLexhPCC9a1iHfp1hX5TCzkrviI7rQ8GqPOoxZcISMbf6GAFnPwufl6SjMLQ=w677-h902-no" alt="treesruslogo">
            </div>
            <div class="column">
                <img src="https://lh3.googleusercontent.com/pw/AM-JKLV8kUOmG8C_ngoJpn1VGLgiqI_60oV7P1kA3Ld2Y8GfT7rVn2xlRr-RcBHDaVaf1fQKrtUx3RFzF-5R-eKUCqP2iLd2HfSHynlaHDCaKip3yJW2Wpbv1ApMAWazGfhLYf2BihJdg4x0RTPbWfs-HA=w677-h902-no" alt="powerplanterslogo">
            </div>
            <div class="column">
                <img src="https://lh3.googleusercontent.com/pw/AM-JKLVnjtcNoEaLeXK5B0WrPEMFFZuyT9Hct3GutTugXHEYRWzjkP2pgjKqG1aO5c267zfTLtpMbHLXPzsaYCrzRUP-gRN1OJGw737FlLhOyPZ_VXlL_j1hUvAxDYZywXUD_9oIW-g3O8W6lSSkE6vZSw=w200-h300-no" alt="gift_ad">
            </div>
        </div>
    </div>
    <h2 class="title" style="color: #c993dc">Our Projects</h2>
    <hr style="width:50%;text-align:center;margin-left:25%; background-color: #c993dc">
    <div class="box">
        <div class="row">
            <div class="column">
                <img src="https://lh3.googleusercontent.com/pw/AM-JKLX23YvfMbqc0q-hbIcNqPFa7IazufVEwxj0mBCnvDd8p9w4i0NNpAV2YInRsUVJVof2Jc86N9TBYB9a9THbpnaAT6Zj3b7kbdG8Vke5mSwCwzEnTjBLTUT821Y9r6nXU0vKkhfT0K8J6SkEmL1CuQ=w200-h300-no" alt="llama_ad">
            </div>
            <div class="column">
                <div class="box2">
                    <img src="https://www.treehugger.com/thmb/2MGq3_NnjIGsTD78k5TTombL6b8=/768x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/8860298334_509c5f9698_o-2fba9e1a26cc465bb9d4f9b659b2296d.jpg" alt="treeee">
                    <p>We aim by the end of 2022 to plant 5000 trees in the Amazon rainforest. We are trying to restore the forest to its original state. To help us you can DONATE, buy our products or try our quizzes.</p>
                </div>
            </div>
            <div class="column">
                <div class="box2">
                    <img src="https://iowatreeplanting.com/wp-content/uploads/2020/05/deforestation_in_myanmar.jpg" alt="treeeeee">
                    <p>
                        This photo is from Myanmar. We are trying to restore this forest. Our plan is to plant 3000 trees in the next few months, but we need your help. Please consider donating.
                    </p>
                </div>
            </div>
            <div class="column">
                <div class="box2">
                    <img src="https://lets-travel-more.com/wp-content/uploads/2020/01/Akamas-Forest.jpg" alt="akamas_cyprus">
                    <p>
                        In the UK more than 26 million hectares of trees is cut down each year. Please help us raise awareness and plant trees. Our goal is to plant 8000 trees by the end of 2022 in the UK. DONATE!!!
                    </p>
                </div>
            </div>
            <div class="column">
                <img src="https://lh3.googleusercontent.com/pw/AM-JKLVeTpe4VoBdlwfQT2cZl2-vmuGW2U8H1UruG5-uFZ2oJmlNB_gFve60LyqKs7ht-yroBfhkxSPqju_0b8LUBGFiJGog9CyTANy11CRUKep1Nj3L6m8DzlUsjxyLARr3wbnnePLogNSLBGiz7PHwOQ=w200-h300-no" alt="PANDA_AD">
            </div>
        </div>
    </div>
    <h3 class="title" style="color: #c993dc">Charity Updates</h3>
    <hr style="width:50%;text-align:center;margin-left:25%; background-color: #c993dc">
    <div class="box">

    </div>
{% endblock %}