{% extends "base.html" %}

{% block content %}
    <style>
        .box{
            background-color: #c993dc;
            width: 100%;
        }
    </style>
    <h1 class="title" style="color: #c993dc">Our Charities</h1>
    <hr style="width:50%;text-align:center;margin-left:25%; background-color: #c993dc">
    <div class="box">

    </div>
    <h2 class="title" style="color: #c993dc">Our Projects</h2>
    <hr style="width:50%;text-align:center;margin-left:25%; background-color: #c993dc">
    <div class="box">

    </div>
    <h3 class="title" style="color: #c993dc">Charity Updates</h3>
    <hr style="width:50%;text-align:center;margin-left:25%; background-color: #c993dc">
    <div class="box">

    </div>
{% endblock %}