{% extends "base.html" %}

{% block content %}
<style>
  .box{
    background-color: #c993dc;
    width: 100%;
  }
  .column {
  float: left;
  width: 20%;
  padding: 5px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}
</style>

  <img src="https://lh3.googleusercontent.com/pw/AM-JKLW9AypEVVxtulh5P9koc_qRmTdXL10uiMIifbD7VBUjuqAUCX5gSXsVk4AHCVM0iGokZaDC8BHEEaWcyQc1eElRSmHkeytzjel4hgju7ZR60ZIKyWUs5qBmn8EFVjWkZn97klLvfMtwe9EdA0tSyg=w1920-h486-no" alt="Trees pic" width="1920" height="486">
  <h1 class="title" style=" color: #c993dc;">LEARN PLAY DONATE
  </h1>
  <h2 class="subtitle"  style=" color: #c993dc;">
    WishTrees is committed to UN goal 15
  </h2>
  <hr style="width:50%;text-align:center;margin-left:25%; background-color: #c993dc;">
  <h3 class="subtitle" style=" color: #c993dc;">
   Merchandise
  </h3>
  <div class="box">
    <div class="row">
        <div class="column">
            <img src="https://lh3.googleusercontent.com/pw/AM-JKLVvG6N6N05a_s7IWbmnzFHSxs_0RbtLGCaunyLDcOCJIvn8-UEo-lW5SkdF1g6Cb6e_9i3TclY8wp8GUDybeTeyDtOXTn159eEOWgur60PE7l25dG-Q8i_nf5misMZIkaq5F9eodOO8DiASO3zBoQ=w200-h300-no" alt="eco_egg">
        </div>
         <div class="column">
            <img src="https://lh3.googleusercontent.com/pw/AM-JKLVzOOgee2M4CAenLx6pAA87UVwIHfaEuinv09rkz9Fku9uD6B4ji8TYKN5V-n9375iFGFHNzD1YLuzW7vQpwq9CYOYk0PRTFmjARs-odIaGwVXnNM9QIpexKMV2UHwkzvQ5N_cUq_JcvBfvyyrL7A=w575-h700-no" alt="power_planters_girl">
            <h1>Power Planters T-shirt</h1>
            <p>
                $20.00
            </p>
        </div>
        <div class="column">
            <img src="https://lh3.googleusercontent.com/pw/AM-JKLWnPxvx_B2SSIQwzdsszelnjzMvkKxx_u3B3ZxBui7QNChacie_gcrwwZsoj5D2ogmSIqlj4XXUIAqlnxfWon3ywGfKuZhaUJdPcom3aB0StbMCMNubfwA3SmjybdFD-HBd94KyFx21A8fkeEN-TQ=w575-h700-no" alt="wish_trees_guy">
            <h1>Wish Trees T-shirt</h1>
            <p>
                $20.00
            </p>
        </div>
        <div class="column">
            <img src="https://lh3.googleusercontent.com/pw/AM-JKLUj1g7bEaUjBUcnp6rqEXHqwd4fWjv1WkwSFQE_W841GTnGZn0MFNiQVPmRxJiCJ1PjSseLoSByNr7KVqEBP4LXrEG1U-SUDPg35MELd-He5Cf9J9ix-7edTFszEnthTU8P_wTWh6UirKIMGgytyg=w575-h700-no" alt="trees_r_us_guy2">
            <h1>Trees R Us Hoodie</h1>
            <p>
                $40.00
            </p>
        </div>
        <div class="column">
            <img src="https://lh3.googleusercontent.com/pw/AM-JKLUQmmRDnNBO1ak9dVpOuEAmiwdLf7mORfdFfRfTJ6yoFwAn_EzBa8QWGIX82d-t6R1HiisDKivkR8JxZOxrRD7Q8WxwADEc2px0gi8cQjCFJuLeMMLlH7u6KmXBh0_gvG_toVDnh-edX9V2LFHN-A=w200-h300-no" alt="turtle_ad">
        </div>
    </div>
  </div>

  <hr style="width:50%;text-align:center;margin-left:25%; background-color: #c993dc;">
  <h4 class="subtitle" style=" color: #c993dc;">
    Campaigns, Projects & Updates
  </h4>
{% endblock %}