{% extends "base.html" %}

{% block content %}

  <img src="https://lh3.googleusercontent.com/pw/AM-JKLW9AypEVVxtulh5P9koc_qRmTdXL10uiMIifbD7VBUjuqAUCX5gSXsVk4AHCVM0iGokZaDC8BHEEaWcyQc1eElRSmHkeytzjel4hgju7ZR60ZIKyWUs5qBmn8EFVjWkZn97klLvfMtwe9EdA0tSyg=w1920-h486-no" alt="Trees pic" width="1920" height="486">
  <h1 class="title" style=" color: #c993dc;">LEARN PLAY DONATE
  </h1>
  <h2 class="subtitle"  style=" color: #c993dc;">
    WishTrees is committed to UN goal 15
  </h2>
  <hr style="width:50%;text-align:center;margin-left:25%; color: #c993dc;">
  <h3 class="subtitle" style=" color: #c993dc;">
   Merchandise
  </h3>
  <hr style="width:50%;text-align:center;margin-left:25%; color: #c993dc;">
  <h4 class="subtitle" style=" color: #c993dc;">
    Campaigns, Projects & Updates
  </h4>
{% endblock %}