{% extends "base.html" %}

{% block content %}

<style xmlns="http://www.w3.org/1999/html">
.column {
  position: relative;
  float: left;
  width: 20%;
  padding: 5px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.container{
    margin: auto;
    padding-left: 1px;
    padding-right: 1px;
}

</style>


<div class="container">
    <div class="row">
        <div class="column">
            <img src="https://lh3.googleusercontent.com/pw/AM-JKLXXzWjGm4pNYmupupjkGhnD5ltiUADyS1KvmyKDeOcYorMAouoHnwUfiqAC2AdQYDZ-iwQ99Y2lE807J8U0T5CSjl6rzagXAIIMiS1I24Jo8956G6KMdp4V0S1TkmeLNnSpHtHzQ56z1vC0AcEMtA=-no" alt="wildlife_birds_ad" width="170px">
        </div>

        <div class="column">
            <a href="{{ url_for('users.billing') }}\pp_tshirt_black_20">
            <img src="https://lh3.googleusercontent.com/pw/AM-JKLUq4NV5WenTwCdnARENTUYktOglz15AvgHshFpScu3dO_GzItAyMbM6M5x4_XDJ7ZAqtirRrERj9ZXIlCQ6kRaI6GcIxhn54yQ2nQQIYisF5_wlzCVG3KsKwkLSN2034gcMqSqWO0AwLTIkmbdBMQ=w575-h700-no" alt="power_planters_guy">
            <h1 style="color: #c993dc">Power Planters T-shirt</h1>
            <p>
                £20.00
            </p>
            </a>
        </div>

        <div class="column">
            <a href="{{ url_for('users.billing') }}\wt_tshirt_black_20">
            <img src="https://lh3.googleusercontent.com/pw/AM-JKLWnPxvx_B2SSIQwzdsszelnjzMvkKxx_u3B3ZxBui7QNChacie_gcrwwZsoj5D2ogmSIqlj4XXUIAqlnxfWon3ywGfKuZhaUJdPcom3aB0StbMCMNubfwA3SmjybdFD-HBd94KyFx21A8fkeEN-TQ=w575-h700-no" alt="wish_trees_guy">
            <h1 style="color: #c993dc">Wish Trees T-shirt</h1>
            <p>
                £20.00
            </p>
            </a>
        </div>

        <div class="column">
            <a href="{{ url_for('users.billing') }}\pp_tshirt_white_20">
            <img src="https://lh3.googleusercontent.com/pw/AM-JKLVzOOgee2M4CAenLx6pAA87UVwIHfaEuinv09rkz9Fku9uD6B4ji8TYKN5V-n9375iFGFHNzD1YLuzW7vQpwq9CYOYk0PRTFmjARs-odIaGwVXnNM9QIpexKMV2UHwkzvQ5N_cUq_JcvBfvyyrL7A=w575-h700-no" alt="power_planters_girl">
            <h1 style="color: #c993dc">Power Planters T-shirt</h1>
            <p>
                £20.00
            </p>
            </a>
        </div>

        <div class="column">
            <img src="https://lh3.googleusercontent.com/pw/AM-JKLU4wpPS-PlR8kSVDhOcSmXYdAeMe1ly1uVMx1PpOcQrudcyorPSZFMM5tjmOE3PuJdL5jnpXEhGVRmGtJQj85TdOzEd30RPTtvb6wZ9VrPWKyRMID3ZuiwdkjBSfqibq3ZiQp3w3gbk0fIP78nuKg=-no" alt="ad" width="170px">
        </div>
        <div class="column">
            <img src="https://lh3.googleusercontent.com/pw/AM-JKLXijgJMfXHb_m-DVv7adjHg26dN7JiKdnLE1ftibC5ZcUY2P8It4ueGlmbs7JXgBNredW0TsPpOcEQ_3gh0B-OND7QqvV3LnXLnnquSx4mObkXgwA6KCrZquqoYVXjK9wAahYcyMZWnJwBaQegxew=-no" alt="book_ad" width="170px">
        </div>

        <div class="column">
            <a href="{{ url_for('users.billing') }}\tru_tshirt_white_20">
            <img src="https://lh3.googleusercontent.com/pw/AM-JKLUU1WNvy8_rHNuwI9QJ88VYGOSBqOge81e1rfIWRtVDKr0z4b_7DetHjlH3YxpB9rfC6ylj-eCvmdgoegDmCJzwn_zE0YL5q27wngGsjj7SDD85aCcVBVbToe0TKHbVoUHiSljZCIpt02o0LMcwmQ=w575-h700-no" alt="trees_r_us_guy">
            <h1 style="color: #c993dc">Trees R Us T-shirt</h1>
            <p>
                £20.00
            </p>
            </a>
        </div>

        <div class="column">
            <a href="{{ url_for('users.billing') }}\tru_hoodie_black_40">
            <img src="https://lh3.googleusercontent.com/pw/AM-JKLUj1g7bEaUjBUcnp6rqEXHqwd4fWjv1WkwSFQE_W841GTnGZn0MFNiQVPmRxJiCJ1PjSseLoSByNr7KVqEBP4LXrEG1U-SUDPg35MELd-He5Cf9J9ix-7edTFszEnthTU8P_wTWh6UirKIMGgytyg=w575-h700-no" alt="trees_r_us_guy2">
            <h1 style="color: #c993dc">Trees R Us Hoodie</h1>
            <p>
                £40.00
            </p>
            </a>
        </div>

        <div class="column">
            <a href="{{ url_for('users.billing') }}\wt_tshirt_grey_25">
            <img src="https://lh3.googleusercontent.com/pw/AM-JKLUyCY73B8OpBw7z6H2GzN673oRBPcgUDcpRkC9Zvhe8uuD3Lm46PYBzKsu2PVIYcOcHO1DvOZSSEzfLYryonHwpxPNa-NEZeAOAdYz6cTxrIXpfB_xGJ7XPD5ymZD8vjnyHndAqdWdcz_hhwCLdoA=w575-h700-no" alt="wish_trees_guy2">
            <h1 style="color: #c993dc">Wish Trees Shirt</h1>
            <p>
                £25.00
            </p>
            </a>
        </div>

        <div class="column">
            <img src="https://lh3.googleusercontent.com/pw/AM-JKLVvalhFfeaXQiNeaZxI3076_9bfcwRCe8bJ8IgPZrC9BXMZBmw4vS7ZKcCVHB1PSW2NJOv5GuAANiFKOFkdr87jref5cZMhrYEtfG9TCaNiUCdXnBEVFsrKdwZJGkQHbG8RS3BKnpsH9U23yv-AKg=-no" alt="eco_gift_ad" width="170px">
        </div>
    </div>
</div>
{% endblock %}